# Version 1.0

## Отобранные и очищенные признаки

**'test'** - int - является ли наблюдение частью тестового датасета (1 - является, 0 - не является)

**'style'** - str - стиль автомобиля (550i xDrive)

**'body'** - str - тип кузова (внедорожник, седан, купе, хэтчбек, лифтбек, универсал, кабриолет, родстер, компактвэн)

**'color'** - str - цвет ('чёрный', 'белый', 'синий', 'серый', 'коричневый', 'серебристый', 'красный', 'бежевый', 'голубой', 'зелёный', 'оранжевый', 'золотистый', 'пурпурный', 'фиолетовый', 'жёлтый')

**'fuel'** - str - тип топлива ('бензин', 'дизель', 'гибрид', 'электро')

**'model_date'** - int - дата модели

**'doors'** - int - кол-во дверей (2, 3, 4, 5)

**'production_date'** - int - год производства

**'transmission'** - str - тип трансмиссии ('автоматическая', 'механическая', 'роботизированная')

**'engine_displacement'** - float - объем двигателя

**'engine_power'** - int - мощность двигателя

**'mileage'** - int - пробег в км.

**'drive_type'** - str - привод ('полный', 'задний', 'передний')

**'wheel'** - str - руль ('Левый', 'Правый')

**'condition'** - str - Состояние ('Не требует ремонта')

**'owners'** - int - кол-во владельцев ('1' - 1 владелец, '2' - 2 владельца, '3' - '3 и более')

**'vehicle_title'** - str -  ПТС ('Оригинал', 'Дубликат')

**'description'** - str - Описание

**'features'** - str - Комплектация

**'ownership'** - str - период владения

**'price'** - int - Цена

In [1]:
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 100)

cars = pd.read_csv('../Data/test.csv')

In [2]:
# Комплектация -  features, привод - drive type, ПТС - Vehicle title

cars.columns = ['body', 'brand', 'color', 'fuel', 'model_date', 'name',
       'doors', 'production_date', 'configuration',
       'transmission', 'engine_displacement', 'engine_power',
       'description', 'mileage', 'features', 'drive_type', 'wheel', 'condition',
       'owners', 'vehicle_title', 'custom', 'ownership', 'id']

In [3]:
cars.head()

,body,brand,color,fuel,model_date,name,doors,production_date,configuration,transmission,engine_displacement,engine_power,description,mileage,features,drive_type,wheel,condition,owners,vehicle_title,custom,ownership,id
0,седан,BMW,чёрный,дизель,2016.0,520d 2.0d AT (190 л.с.),4.0,2017.0,SEDAN AUTOMATIC 2.0,автоматическая,2.0 LTR,190 N12,В РОЛЬФ Ясенево представлено более 500 автомоб...,158836.0,"['[{""name"":""Безопасность"",""values"":[""Антипробу...",задний,Левый,Не требует ремонта,1 владелец,Оригинал,Растаможен,NaN,0
1,седан,BMW,белый,дизель,2018.0,318d 2.0d AT (150 л.с.),4.0,2019.0,SEDAN AUTOMATIC 2.0,автоматическая,2.0 LTR,150 N12,Автомобиль из демонстрационного парка по спец ...,10.0,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",задний,Левый,Не требует ремонта,1 владелец,Оригинал,Растаможен,NaN,1
2,седан,BMW,синий,бензин,2009.0,550i xDrive 4.4 AT (407 л.с.) 4WD,4.0,2012.0,SEDAN AUTOMATIC 4.4,автоматическая,4.4 LTR,407 N12,Машина собиралась под заказ! \n\n,120000.0,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",полный,Левый,Не требует ремонта,2 владельца,Оригинал,Растаможен,7 лет и 2 месяца,2
3,внедорожник 5 дв.,BMW,белый,дизель,2014.0,30d 3.0d AT (249 л.с.) 4WD,5.0,2015.0,ALLROAD_5_DOORS AUTOMATIC 3.0,автоматическая,3.0 LTR,249 N12,АВТОМОБИЛЬ В БЕЗУПРЕЧНОМ ВНЕШНЕМ И ТЕХНИЧЕСКОМ...,111466.0,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",полный,Левый,Не требует ремонта,2 владельца,Оригинал,Растаможен,NaN,3
4,внедорожник 5 дв.,BMW,синий,дизель,2014.0,M50d 3.0d AT (381 л.с.) 4WD,5.0,2019.0,ALLROAD_5_DOORS AUTOMATIC 3.0,автоматическая,3.0 LTR,381 N12,Автомобиль не имеет собственников ( физ. лиц) ...,11891.0,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",полный,Левый,Не требует ремонта,1 владелец,Оригинал,Растаможен,NaN,4

## Нам не нужны brand и id, т.к. они не несут смысла. Custom тоже содержит мало информации

In [4]:
cars = cars.drop(['brand', 'id', 'custom'], axis=1)

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3837 entries, 0 to 3836
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   body                 3837 non-null   object
 1   color                3837 non-null   object
 2   fuel                 3837 non-null   object
 3   model_date           3837 non-null   float64
 4   name                 3837 non-null   object
 5   doors                3837 non-null   float64
 6   production_date      3837 non-null   float64
 7   configuration        3837 non-null   object
 8   transmission         3837 non-null   object
 9   engine_displacement  3837 non-null   object
 10  engine_power         3837 non-null   object
 11  description          3837 non-null   object
 12  mileage              3837 non-null   float64
 13  features             3837 non-null   object
 14  drive_type           3837 non-null   object
 15  wheel                3837 non-null   object
 16  condition            3837 non-null   object
 17  owners               3837 non-null   object
 18  vehicle_title        3837 non-null   object
 19  ownership            1753 non-null   object
dtypes: float64(4), object(16)
memory usage: 599.7+ KB

In [6]:
cars.isna().sum()

body                      0
color                     0
fuel                      0
model_date                0
name                      0
doors                     0
production_date           0
configuration             0
transmission              0
engine_displacement       0
engine_power              0
description               0
mileage                   0
features                  0
drive_type                0
wheel                     0
condition                 0
owners                    0
vehicle_title             0
ownership              2084
dtype: int64

In [7]:
cars.nunique()

body                     11
color                    15
fuel                      4
model_date               31
name                    384
doors                     4
production_date          37
configuration            99
transmission              3
engine_displacement      22
engine_power             75
description            3677
mileage                1942
features               3295
drive_type                3
wheel                     1
condition                 1
owners                    3
vehicle_title             2
ownership               157
dtype: int64

# Чистим признаки

In [8]:
cars.body.value_counts()

внедорожник 5 дв.    1626
седан                1594
купе                  214
хэтчбек 5 дв.         163
лифтбек               125
универсал 5 дв.        46
хэтчбек 3 дв.          36
кабриолет              19
родстер                10
компактвэн              3
седан 2 дв.             1
Name: body, dtype: int64

## Указание дверей лишнее, оно будет в другом столбце, я проверил, что эти двери там указаны

In [9]:
cars.body = cars.body.str.split().str[0]

In [10]:
cars.body.value_counts()

внедорожник    1626
седан          1595
купе            214
хэтчбек         199
лифтбек         125
универсал        46
кабриолет        19
родстер          10
компактвэн        3
Name: body, dtype: int64

In [11]:
cars.color.value_counts()

чёрный         1395
белый           767
синий           510
серый           453
коричневый      216
серебристый     191
красный         115
бежевый          46
голубой          35
зелёный          33
оранжевый        27
золотистый       23
пурпурный        20
фиолетовый        5
жёлтый            1
Name: color, dtype: int64

### Цвет в порядке

In [12]:
cars.fuel.value_counts()

бензин     2471
дизель     1358
гибрид        7
электро       1
Name: fuel, dtype: int64

### Топливо в порядке

In [13]:
cars.model_date.value_counts()

2013.0    380
2011.0    373
2009.0    359
2010.0    308
2007.0    296
2015.0    285
2014.0    267
2012.0    215
2006.0    210
2008.0    191
2016.0    161
2018.0    125
2017.0    122
2005.0    116
2003.0     89
2002.0     54
2001.0     45
1995.0     44
1999.0     35
2000.0     33
1998.0     33
2019.0     26
1987.0     18
1990.0     13
2004.0     12
1982.0     11
1994.0      8
1981.0      3
1986.0      3
1975.0      1
1977.0      1
Name: model_date, dtype: int64

### Хоть точка тут не страшна, избавимся от неё.

In [14]:
cars.model_date = cars.model_date.astype('int64')

In [15]:
cars.model_date.value_counts()

2013    380
2011    373
2009    359
2010    308
2007    296
2015    285
2014    267
2012    215
2006    210
2008    191
2016    161
2018    125
2017    122
2005    116
2003     89
2002     54
2001     45
1995     44
1999     35
1998     33
2000     33
2019     26
1987     18
1990     13
2004     12
1982     11
1994      8
1981      3
1986      3
1977      1
1975      1
Name: model_date, dtype: int64

In [16]:
cars.doors.value_counts()

5.0    1963
4.0    1594
2.0     244
3.0      36
Name: doors, dtype: int64

In [17]:
cars.doors = cars.doors.astype('int64')

In [18]:
cars.doors.value_counts()

5    1963
4    1594
2     244
3      36
Name: doors, dtype: int64

In [19]:
cars.production_date.value_counts()

2013.0    432
2012.0    386
2011.0    345
2014.0    312
2018.0    267
2019.0    262
2016.0    254
2015.0    229
2008.0    228
2010.0    205
2017.0    196
2007.0    149
2009.0    142
2005.0     63
2004.0     60
2006.0     52
2003.0     48
2002.0     41
2001.0     36
1998.0     22
2000.0     22
1999.0     20
1997.0     14
1996.0      9
1992.0      8
1995.0      6
1989.0      6
1993.0      6
1984.0      3
1991.0      3
1994.0      2
1982.0      2
1988.0      2
1990.0      2
1986.0      1
1987.0      1
1981.0      1
Name: production_date, dtype: int64

In [20]:
cars.production_date = cars.production_date.astype('int64')

In [21]:
cars.production_date.value_counts()

2013    432
2012    386
2011    345
2014    312
2018    267
2019    262
2016    254
2015    229
2008    228
2010    205
2017    196
2007    149
2009    142
2005     63
2004     60
2006     52
2003     48
2002     41
2001     36
1998     22
2000     22
1999     20
1997     14
1996      9
1992      8
1995      6
1993      6
1989      6
1991      3
1984      3
1994      2
1990      2
1988      2
1982      2
1981      1
1987      1
1986      1
Name: production_date, dtype: int64

In [22]:
cars[['configuration', 'body', 'transmission', 'doors', 'engine_displacement']].head()

,configuration,body,transmission,doors,engine_displacement
0,SEDAN AUTOMATIC 2.0,седан,автоматическая,4,2.0 LTR
1,SEDAN AUTOMATIC 2.0,седан,автоматическая,4,2.0 LTR
2,SEDAN AUTOMATIC 4.4,седан,автоматическая,4,4.4 LTR
3,ALLROAD_5_DOORS AUTOMATIC 3.0,внедорожник,автоматическая,5,3.0 LTR
4,ALLROAD_5_DOORS AUTOMATIC 3.0,внедорожник,автоматическая,5,3.0 LTR

### Признак configuration удаляем, он содержится в других столбцах

In [23]:
cars = cars.drop('configuration', axis=1)

In [24]:
cars.transmission.value_counts()

автоматическая      3677
механическая         111
роботизированная      49
Name: transmission, dtype: int64

In [25]:
cars.engine_displacement.value_counts()

2.0 LTR          1538
3.0 LTR          1353
4.4 LTR           305
2.5 LTR           239
1.6 LTR           173
1.5 LTR            66
4.8 LTR            64
2.2 LTR            20
2.8 LTR            14
4.0 LTR            13
1.8 LTR            10
1.9 LTR             7
5.4 LTR             6
6.0 LTR             5
2.9 LTR             4
4.6 LTR             4
3.5 LTR             4
6.6 LTR             4
3.6 LTR             3
5.0 LTR             3
3.4 LTR             1
undefined LTR       1
Name: engine_displacement, dtype: int64

In [26]:
cars.engine_displacement = cars.engine_displacement.str.split().str[0]

In [27]:
cars.engine_displacement.value_counts(dropna=False)

2.0          1538
3.0          1353
4.4           305
2.5           239
1.6           173
1.5            66
4.8            64
2.2            20
2.8            14
4.0            13
1.8            10
1.9             7
5.4             6
6.0             5
6.6             4
3.5             4
4.6             4
2.9             4
3.6             3
5.0             3
undefined       1
3.4             1
Name: engine_displacement, dtype: int64

In [28]:
cars.loc[cars.engine_displacement == 'undefined', 'engine_displacement']  = None

In [29]:
cars.engine_displacement = cars.engine_displacement.astype('float64')

In [30]:
cars.engine_displacement.value_counts(dropna=False)

2.0    1538
3.0    1353
4.4     305
2.5     239
1.6     173
1.5      66
4.8      64
2.2      20
2.8      14
4.0      13
1.8      10
1.9       7
5.4       6
6.0       5
2.9       4
6.6       4
4.6       4
3.5       4
5.0       3
3.6       3
NaN       1
3.4       1
Name: engine_displacement, dtype: int64

In [31]:
cars.engine_power.value_counts()

184 N12    636
249 N12    300
245 N12    293
306 N12    281
190 N12    260
218 N12    212
136 N12    193
150 N12    130
258 N12    127
231 N12     97
407 N12     92
272 N12     84
177 N12     82
320 N12     78
313 N12     78
170 N12     70
156 N12     63
115 N12     58
192 N12     55
235 N12     50
450 N12     50
355 N12     47
555 N12     44
286 N12     43
204 N12     41
575 N12     31
381 N12     25
340 N12     24
143 N12     21
326 N12     20
264 N12     20
400 N12     17
163 N12     16
265 N12     16
367 N12     15
333 N12     15
193 N12     14
140 N12     13
560 N12     10
625 N12     10
530 N12      9
360 N12      7
100 N12      7
420 N12      6
118 N12      5
431 N12      5
197 N12      5
600 N12      4
347 N12      4
445 N12      4
300 N12      3
507 N12      3
105 N12      3
269 N12      3
113 N12      3
129 N12      3
610 N12      3
329 N12      3
370 N12      3
122 N12      3
410 N12      3
102 N12      2
462 N12      2
125 N12      2
243 N12      1
252 N12      1
449 N12      1
609 N12      1
90 N12       1
544 N12      1
460 N12      1
230 N12      1
211 N12      1
188 N12      1
374 N12      1
Name: engine_power, dtype: int64

In [32]:
cars.engine_power = cars.engine_power.str.split().str[0]

In [33]:
cars.engine_power.value_counts()

184    636
249    300
245    293
306    281
190    260
218    212
136    193
150    130
258    127
231     97
407     92
272     84
177     82
313     78
320     78
170     70
156     63
115     58
192     55
235     50
450     50
355     47
555     44
286     43
204     41
575     31
381     25
340     24
143     21
264     20
326     20
400     17
265     16
163     16
367     15
333     15
193     14
140     13
625     10
560     10
530      9
100      7
360      7
420      6
118      5
197      5
431      5
600      4
445      4
347      4
329      3
507      3
129      3
269      3
300      3
610      3
113      3
410      3
370      3
105      3
122      3
462      2
102      2
125      2
230      1
609      1
243      1
460      1
449      1
374      1
252      1
90       1
544      1
188      1
211      1
Name: engine_power, dtype: int64

In [34]:
cars.mileage = cars.mileage.astype('int64')

In [35]:
cars[['name', 'engine_displacement', 'transmission', 'engine_power', 'drive_type']].head(10)

,name,engine_displacement,transmission,engine_power,drive_type
0,520d 2.0d AT (190 л.с.),2.0,автоматическая,190,задний
1,318d 2.0d AT (150 л.с.),2.0,автоматическая,150,задний
2,550i xDrive 4.4 AT (407 л.с.) 4WD,4.4,автоматическая,407,полный
3,30d 3.0d AT (249 л.с.) 4WD,3.0,автоматическая,249,полный
4,M50d 3.0d AT (381 л.с.) 4WD,3.0,автоматическая,381,полный
5,30d 3.0d AT (249 л.с.) 4WD,3.0,автоматическая,249,полный
6,28i xDrive 2.0 AT (245 л.с.) 4WD,2.0,автоматическая,245,полный
7,20d 2.0d AT (177 л.с.) 4WD,2.0,автоматическая,177,полный
8,30d 3.0d AT (245 л.с.) 4WD,3.0,автоматическая,245,полный
9,520i 2.0 AT (184 л.с.),2.0,автоматическая,184,задний

### Признак name включает в себя Стиль, объем двигателя, мощность в лош.силах, тип трансмиссии и тип привода. Есть смысл оставить только стиль, остальное у нас есть.

In [36]:
cars.name = cars.name.str.split()

In [37]:
def get_style(row):
    if row['name'][1] == 'xDrive':
        return row['name'][0] + ' ' + row['name'][1]
    elif row['name'][0] == str(row.engine_displacement):
        return None
    else:
        return row['name'][0]

cars['style'] = cars.apply(get_style, axis=1)

### Признак name можно теперь удалить

In [38]:
cars = cars.drop('name', axis=1)

In [39]:
cars['style'].value_counts().sort_index()

1.5hyb             5
116i             102
118d               1
118i              66
120d              12
120d xDrive        1
120i              10
125i               4
130i               2
135i               1
18d xDrive        21
18i               71
20d              134
20d xDrive        92
20i               60
20i xDrive        81
218i               3
220i               5
23d                2
23i                1
25d               27
25i               32
28i               30
28i xDrive        58
3.0d              33
3.0i              39
3.0sd              3
3.0si             36
30d              255
30d xDrive        29
30i               56
30i xDrive         4
316                1
316i              51
318d               5
318i              87
320d              42
320d xDrive       95
320i             171
320i xDrive       92
323i               4
325i              53
325i xDrive        1
325xi             34
328i              18
328i xDrive        8
330d               2
330d xDrive        3
330i               8
330i xDrive        3
330xd              1
330xi              6
335i              13
335i xDrive        6
335xi              2
340i xDrive        2
35d               20
35d xDrive         2
35i              194
35i xDrive         9
35is               1
4.4i              29
4.6is              4
4.8i              13
4.8is              2
40d               81
40i               15
420d               8
420d xDrive       17
420i               9
420i xDrive       10
428i               1
428i xDrive        8
430i               1
430i xDrive        2
440i               1
48i               34
50i               40
518                1
520Li              7
520d              98
520d xDrive       38
520i             142
523i              56
525d               7
525d xDrive       16
525i              54
525xd              1
525xi             13
528Li xDrive       1
528i              24
528i xDrive       79
530Li              3
530d              14
530d xDrive      108
530i              27
530i xDrive       27
530xd              1
530xi             17
535d               5
535d xDrive        5
535i              11
535i xDrive       15
540i               7
540i xDrive        7
545i               1
550i               8
550i xDrive        8
620d xDrive        4
630d xDrive        7
630i              10
640d               1
640d xDrive       13
640i               8
640i xDrive       18
645i              10
650i               8
650i xDrive        6
725Ld              2
725Ld xDrive       1
728i               2
730Ld              3
730Ld xDrive      38
730Li              4
730d              14
730d xDrive       18
730i              12
735Li              1
735i               4
740Ld xDrive       6
740Li              8
740Li xDrive      17
740d xDrive       16
740i               6
745Li              1
745i               3
750Ld xDrive       3
750Li             14
750Li xDrive      53
750d xDrive        3
750i              10
750i xDrive       15
760Li              4
760i               1
840d xDrive        7
Active             1
ActiveHybrid       1
CS                 1
Competition       13
Electro            1
M135i xDrive       1
M235i              1
M235i xDrive       1
M340i xDrive       1
M40d               1
M40i               5
M50d              30
M50i               1
M550d xDrive       6
M550i xDrive       2
M760Li xDrive      4
M850i xDrive       6
sDrive18i          4
xDrive18d          1
xDrive20d          5
xDrive20i          2
Name: style, dtype: int64

In [40]:
cars.drive_type.value_counts()

полный      2444
задний      1378
передний      15
Name: drive_type, dtype: int64

In [41]:
cars.wheel.value_counts(dropna=False)

Левый    3837
Name: wheel, dtype: int64

In [42]:
cars.condition.value_counts(dropna=False)

Не требует ремонта    3837
Name: condition, dtype: int64

In [43]:
cars.owners.value_counts()

3 или более    1516
1 владелец     1309
2 владельца    1012
Name: owners, dtype: int64

In [44]:
cars.owners = cars.owners.str.split().str[0]

In [45]:
cars.owners.value_counts()

3    1516
1    1309
2    1012
Name: owners, dtype: int64

In [46]:
cars.vehicle_title.value_counts()

Оригинал    3463
Дубликат     374
Name: vehicle_title, dtype: int64

In [47]:
cars.head()

,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,description,mileage,features,drive_type,wheel,condition,owners,vehicle_title,ownership,style
0,седан,чёрный,дизель,2016,4,2017,автоматическая,2.0,190,В РОЛЬФ Ясенево представлено более 500 автомоб...,158836,"['[{""name"":""Безопасность"",""values"":[""Антипробу...",задний,Левый,Не требует ремонта,1,Оригинал,NaN,520d
1,седан,белый,дизель,2018,4,2019,автоматическая,2.0,150,Автомобиль из демонстрационного парка по спец ...,10,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",задний,Левый,Не требует ремонта,1,Оригинал,NaN,318d
2,седан,синий,бензин,2009,4,2012,автоматическая,4.4,407,Машина собиралась под заказ! \n\n,120000,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",полный,Левый,Не требует ремонта,2,Оригинал,7 лет и 2 месяца,550i xDrive
3,внедорожник,белый,дизель,2014,5,2015,автоматическая,3.0,249,АВТОМОБИЛЬ В БЕЗУПРЕЧНОМ ВНЕШНЕМ И ТЕХНИЧЕСКОМ...,111466,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",полный,Левый,Не требует ремонта,2,Оригинал,NaN,30d
4,внедорожник,синий,дизель,2014,5,2019,автоматическая,3.0,381,Автомобиль не имеет собственников ( физ. лиц) ...,11891,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",полный,Левый,Не требует ремонта,1,Оригинал,NaN,M50d

## Общая функция для очистки

In [53]:
def clean_test(cars):
    cars.columns = ['body', 'brand', 'color', 'fuel', 'model_date', 'name',
       'doors', 'production_date', 'configuration',
       'transmission', 'engine_displacement', 'engine_power',
       'description', 'mileage', 'features', 'drive_type', 'wheel', 'condition',
       'owners', 'vehicle_title', 'custom', 'ownership', 'id']
    
    
    cars.body = cars.body.str.split().str[0]
    
    cars.model_date = cars.model_date.astype('int64')
    cars.doors = cars.doors.astype('int64')
    cars.production_date = cars.production_date.astype('int64')
    cars.mileage = cars.mileage.astype('int64')
    
    cars.engine_displacement = cars.engine_displacement.str.split().str[0]
    cars.loc[cars.engine_displacement == 'undefined', 'engine_displacement']  = None
    cars.engine_displacement = cars.engine_displacement.astype('float64')
    cars.engine_power = cars.engine_power.str.split().str[0]
    cars.name = cars.name.str.split()
    
    def get_style(row):
        if row['name'][1] == 'xDrive':
            return row['name'][0] + ' ' + row['name'][1]
        elif row['name'][0] == str(row.engine_displacement):
            return None
        else:
            return row['name'][0]

    cars['style'] = cars.apply(get_style, axis=1)
    
    cars.owners = cars.owners.str.split().str[0]
    
    cars = cars.drop(['name', 'brand', 'id', 'custom', 'configuration'], axis=1)
    
    cars['price'] = 0
    cars['test'] = 1
    
    return cars[['test', 'style', 'body', 'color', 'fuel', 'model_date', 'doors', 'production_date',
       'transmission', 'engine_displacement', 'engine_power',
       'mileage', 'drive_type', 'wheel', 'condition', 'owners',
       'vehicle_title', 'description', 'features', 'ownership', 'price']]

In [54]:
import pandas as pd

cars = pd.read_csv('../Data/test.csv')

new_cars = clean_test(cars)

In [50]:
new_cars.head()

,test,style,body,color,fuel,model_date,doors,production_date,transmission,engine_displacement,engine_power,mileage,drive_type,wheel,condition,owners,vehicle_title,description,features,ownership,price
0,1,520d,седан,чёрный,дизель,2016,4,2017,автоматическая,2.0,190,158836,задний,Левый,Не требует ремонта,1,Оригинал,В РОЛЬФ Ясенево представлено более 500 автомоб...,"['[{""name"":""Безопасность"",""values"":[""Антипробу...",NaN,0
1,1,318d,седан,белый,дизель,2018,4,2019,автоматическая,2.0,150,10,задний,Левый,Не требует ремонта,1,Оригинал,Автомобиль из демонстрационного парка по спец ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0
2,1,550i xDrive,седан,синий,бензин,2009,4,2012,автоматическая,4.4,407,120000,полный,Левый,Не требует ремонта,2,Оригинал,Машина собиралась под заказ! \n\n,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",7 лет и 2 месяца,0
3,1,30d,внедорожник,белый,дизель,2014,5,2015,автоматическая,3.0,249,111466,полный,Левый,Не требует ремонта,2,Оригинал,АВТОМОБИЛЬ В БЕЗУПРЕЧНОМ ВНЕШНЕМ И ТЕХНИЧЕСКОМ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0
4,1,M50d,внедорожник,синий,дизель,2014,5,2019,автоматическая,3.0,381,11891,полный,Левый,Не требует ремонта,1,Оригинал,Автомобиль не имеет собственников ( физ. лиц) ...,"['[{""name"":""Комфорт"",""values"":[""Круиз-контроль...",NaN,0

In [55]:
new_cars.columns

Index(['test', 'style', 'body', 'color', 'fuel', 'model_date', 'doors',
       'production_date', 'transmission', 'engine_displacement',
       'engine_power', 'mileage', 'drive_type', 'wheel', 'condition', 'owners',
       'vehicle_title', 'description', 'features', 'ownership', 'price'],
      dtype='object')

## Обработка features

In [232]:
from pprint import pprint
import ast

ast.literal_eval(cars.features[0])[0]

'[{"name":"Безопасность","values":["Антипробуксовочная система (ASR)","Система стабилизации (ESP)","Подушка безопасности водителя","Крепление детского кресла (задний ряд) ISOFIX","Подушки безопасности оконные (шторки)","Подушка безопасности пассажира","Подушки безопасности боковые задние","Подушки безопасности боковые","Датчик давления в шинах","Антиблокировочная система (ABS)","Блокировка замков задних дверей","Подушка безопасности для защиты коленей водителя"]},{"name":"Комфорт","values":["Система «старт-стоп»","Электростеклоподъёмники передние","Мультифункциональное рулевое колесо","Прикуриватель и пепельница","Бортовой компьютер","Усилитель руля","Электропривод зеркал","Электростеклоподъёмники задние","Парктроник передний","Регулировка руля по вылету","Климат-контроль 2-зонный","Электроскладывание зеркал","Парктроник задний"]},{"name":"Мультимедиа","values":["AUX","USB","Аудиосистема","Bluetooth"]},{"name":"Обзор","values":["Датчик света","Автоматический корректор фар","Омыватель фар","Датчик дождя","Электрообогрев боковых зеркал","Светодиодные фары"]},{"name":"Салон","values":["Регулировка передних сидений по высоте","Передний центральный подлокотник","Складывающееся заднее сиденье","Электрорегулировка передних сидений","Тёмный салон","Кожа (Материал салона)","Обогрев рулевого колеса","Подогрев передних сидений","Отделка кожей рулевого колеса"]},{"name":"Защита от угона","values":["Центральный замок","Иммобилайзер"]}]'

In [233]:
ast.literal_eval(cars.features[0][2:-2])

[{'name': 'Безопасность',
  'values': ['Антипробуксовочная система (ASR)',
   'Система стабилизации (ESP)',
   'Подушка безопасности водителя',
   'Крепление детского кресла (задний ряд) ISOFIX',
   'Подушки безопасности оконные (шторки)',
   'Подушка безопасности пассажира',
   'Подушки безопасности боковые задние',
   'Подушки безопасности боковые',
   'Датчик давления в шинах',
   'Антиблокировочная система (ABS)',
   'Блокировка замков задних дверей',
   'Подушка безопасности для защиты коленей водителя']},
 {'name': 'Комфорт',
  'values': ['Система «старт-стоп»',
   'Электростеклоподъёмники передние',
   'Мультифункциональное рулевое колесо',
   'Прикуриватель и пепельница',
   'Бортовой компьютер',
   'Усилитель руля',
   'Электропривод зеркал',
   'Электростеклоподъёмники задние',
   'Парктроник передний',
   'Регулировка руля по вылету',
   'Климат-контроль 2-зонный',
   'Электроскладывание зеркал',
   'Парктроник задний']},
 {'name': 'Мультимедиа',
  'values': ['AUX', 'USB', 'Аудиосистема', 'Bluetooth']},
 {'name': 'Обзор',
  'values': ['Датчик света',
   'Автоматический корректор фар',
   'Омыватель фар',
   'Датчик дождя',
   'Электрообогрев боковых зеркал',
   'Светодиодные фары']},
 {'name': 'Салон',
  'values': ['Регулировка передних сидений по высоте',
   'Передний центральный подлокотник',
   'Складывающееся заднее сиденье',
   'Электрорегулировка передних сидений',
   'Тёмный салон',
   'Кожа (Материал салона)',
   'Обогрев рулевого колеса',
   'Подогрев передних сидений',
   'Отделка кожей рулевого колеса']},
 {'name': 'Защита от угона', 'values': ['Центральный замок', 'Иммобилайзер']}]

In [51]:
new_cars.isna().sum()

test                      0
style                   112
body                      0
color                     0
fuel                      0
model_date                0
doors                     0
production_date           0
transmission              0
engine_displacement       1
engine_power              0
mileage                   0
drive_type                0
wheel                     0
condition                 0
owners                    0
vehicle_title             0
description               0
features                  0
ownership              2084
price                     0
dtype: int64

In [52]:
new_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3837 entries, 0 to 3836
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   test                 3837 non-null   int64
 1   style                3725 non-null   object
 2   body                 3837 non-null   object
 3   color                3837 non-null   object
 4   fuel                 3837 non-null   object
 5   model_date           3837 non-null   int64
 6   doors                3837 non-null   int64
 7   production_date      3837 non-null   int64
 8   transmission         3837 non-null   object
 9   engine_displacement  3836 non-null   float64
 10  engine_power         3837 non-null   object
 11  mileage              3837 non-null   int64
 12  drive_type           3837 non-null   object
 13  wheel                3837 non-null   object
 14  condition            3837 non-null   object
 15  owners               3837 non-null   object
 16  vehicle_title        3837 non-null   object
 17  description          3837 non-null   object
 18  features             3837 non-null   object
 19  ownership            1753 non-null   object
 20  price                3837 non-null   int64
dtypes: float64(1), int64(6), object(14)
memory usage: 629.6+ KB